* {
  box-sizing: border-box;
  padding: 0;
  color-scheme: dark;
  margin: 0;
}

html {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #101014;
  color-scheme: dark;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #101014;
}


a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}




ul {
  padding: 0;
  margin-left: 20px;
}


:root {
  --background-color: #101014;
  --text-color: #ffffff;
  --text-secondary: #9ca3af;
  --border-color: #1f2937;
  --card-background: rgba(17, 24, 39, 0.5);
  --blue-primary: #1d4ed8;
  --blue-hover: #178ad6;
  --blue-light: #3b82f6;
  --yellow-light: #facc15;
  --yellow-dark: #854d0e;
  --orange-light: #fb923c;
  --orange-dark: #9a3412;
  --red-light: #f87171;
  --red-dark: #991b1b;
}