@font-face {
  font-family: "Geist";
  src: url(/GeistVariableVF.ttf);
}

@font-face {
  font-family: "customfont1";
  src: url(/YouTubeSansBold.otf);
}

.mannvbrmnofcbg {
  width: 100%;
  height: 0px;
}

.mntpnvbr {
  width: 100%;
  height: 70px;
  background-color: #101014c4;
  position: fixed;
  font-family: Geist;
  top: 0px;
  /* backdrop-filter: blur(30px); */
  z-index: 998;
  display: flex;
  align-items: center;
}

.mntpnvbr::before {
  backdrop-filter: blur(30px);
  content: '';
  width: 100%;
  height: 70px;
  position: absolute;
  left: 0;
  z-index: -1;
}

.mnlgofrwbsd {
  height: 42px;
  width: 160px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(/assets/mainclnslogo.png);
  /* margin: 0px 0px 0px 50px; */
}


.mnflblgofrcntnts {
  height: 60%;
  width: auto;
  aspect-ratio: 1/1;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  position: relative;
  /* Parent is relative */
  display: inline-block;
  background-size: contain;
  background-image: url(/assets/minisvglgflb.png);

}

.in {
  display: flex;
}

.out {
  display: none;
}

.mnsvgcntntcntnr {
  height: 100%;
  display: flex;
  align-items: center;
  width: fit-content;
  margin: 0px 0.5% 0px 2%;
}

.mnsvgcntntcntnr svg {
  color: #ccc;
  height: 16px;
  transition: all .3s ease;
  width: 16px;
  margin: 0px 0px 0px 3px;
}

.topnavbrmncntnrstylbrm {
  background-color: #1b1b22c4;
  width: 100%;
  margin-top: 10px;
  height: calc(100% - 10px);
  border-radius: 14px;
  backdrop-filter: blur(10px);
  font-family: geist;
  border: 1px solid #52525279;
  scale: 0.8;
  opacity: 0.5;
  transition: all .3s ease;
}

/* .topnavbrmncntnrstylbrm div:nth-child(1){
  margin-top: 10px;
}
.topnavbrmncntnrstylbrm div:nth-last-child(1){
  margin-bottom: 10px;
} */
.mnbtnoptnon {
  background-color: #121218;
  padding: 10px 10px;
  display: flex;
  min-width: 180px;
  align-items: center;
  transition: all .1s ease;
  cursor: pointer;
  color: #cccccc;
  font-size: 15px;
  border-radius: 9px;
}

.topnavbrmncntnrstylbrm .mncntnttnro:nth-child(1) {
  border-bottom: 1px solid #52525279;
}

.mncntnttnro {
  padding: 30px 40px;
  gap: 5px;
  display: flex;
  flex-direction: column;
}

.mnttlpopovrmn {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 5px;
}

.mnbtnoptnon:hover {
  background-color: #22222c;
  scale: 1.05;
  color: #ffffff;
}

.mnbtnoptnon:hover svg {
  color: #178ad6;
}

.mnbtnoptnon svg {
  transition: all .1s ease;
  margin-right: 5px;
  height: 20px;
  width: 20px;
}



.mnbgcntnrpopover {
  width: fit-content;
  height: fit-content;
  position: absolute;
  margin: 0px 20px;
  display: none;
  top: 70px;
}

/* Show popover on hover */
.mnflblgofrcntnts:hover .topnavbrmncntnrstylbrm {
  display: block;
}


.mnlgonvbrspltr {
  background-color: #178ad640;
  height: 60%;
  width: 1px;
  margin: 0px 7px;
}

.mnoverlyfrtxtcntnr {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  margin-top: 70px;
  padding: 6rem 0px;
  position: relative;
  z-index: 17;
}

.mninnrcntnrfrtctspchs {
  font-family: geist;
  width: 70%;
  height: fit-content;
  display: flex;
}

.lftsidemncntnrfrtxtndesc {
  height: fit-content;
  width: 49%;
  padding: 0px 0px 10vh 0px;
}

.rgtsidemncntnrfrtxtndesc {
  flex: 1;
  width: calc(50% - 1%);
  margin-left: 2%;
  display: flex;
  justify-content: center;
}

.mnaiimgcntnrcntnt {
  height: 100%;
  width: auto;
  background-color: rgb(43, 43, 43);
  aspect-ratio: 1/1;
  border-radius: 14px;
  transition: all 1s ease;
  opacity: 0;
  transform: translateX(200px);
}

.mainfooter {
  background-color: #17171d;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  font-family: geist
}

.btmfootercmprtmnt,
.topfootercmprtmnt {
  width: 90%;
  height: 150px;
  border-bottom: 1px solid #32323f;
  display: flex
}

.btmfootercmprtmnt {
  border-bottom: none;
  border-top: 1px solid #32323f;
  align-items: flex-end
}

.logomnfrftr {
  height: 82%;
  width: 150px;
  background-image: url(/assets/mainclnslogo.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
}

.socialsmnfrftr {
  flex: 1;
  height: 90%;
  opacity: 0;
  display: flex
}

.usernationalityfr {
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%
}

.webuserflgcntry {
  width: 70%;
  aspect-ratio: 3/2;
  height: auto;
  border-radius: 3px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover
}

.maontoccoprfooter {
  height: 80%;
  width: 80%;
  font-size: 13px;
  color: #cacaca;
  font-weight: 350;
  margin-right: 20px
}

.mainscrolltptpbgcntnr {
  flex: 1;
  height: 80%;
  display: flex;
  justify-content: flex-end
}

.mianbtnfrscrttp {
  background-color: #32323f;
  width: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  height: 50px;
  cursor: pointer;
  font-weight: 350;
  border-radius: 10px
}

.mianbtnfrscrttp:hover {
  background-color: #4d4d63;
}

.cntnrfrmdbyflb {
  padding: 30px;
  width: fit-content;
  margin-right: 2%
}

.ttlfrcntnrmdbflb {
  padding: 10px 10px 10px 0;
  font-weight: 600;
  font-size: 20px
}

.outrcntnrfrmdbyflbmb {
  display: none
}

.midfootercmprtmnt {
  flex: 1;
  width: 90%;
  display: flex
}

.listfrmdbyflbmn {
  display: flex;
  flex-direction: column
}

.listfrmdbyflbmn div {
  padding: 3px 3px 3px 0;
  color: #acacac
}

.clckablftr {
  cursor: pointer;
  transition: all .1s ease;
  border-radius: 2px;
  padding: 3px 3px 3px 0;
  color: #acacac
}

.clckablftr:hover {
  color: #178ad6
}

.flcttrmn1 {
  display: none;
}


.qucklnkffrnvbr {
  height: 100%;
  flex: 1;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  font-family: geist;
  font-size: 15px;
}

.optnnvbrqklnk,
.optnnvbrqklnkai {
  border-radius: 7px;
  align-items: center;
  color: #a0a0a0;
  padding: 0px 12px;
  cursor: pointer;
  font-weight: 500;
  transition: all .1s ease;
  height: 100%;
  display: flex;
}

.optnnvbrqklnk:hover {
  color: #fff;
}

.optnnvbrqklnk:hover svg,
.optnnvbrqklnkai:hover svg {
  transform: rotate(-180deg);
}

.optnnvbrqklnk svg {
  width: 15px;
  height: 15px;
  transition: all .1s ease;
  margin-left: 1px;
}

.restofnavbrcntnr {
  margin-right: 3%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.mobilnavhambmnu {
  display: none;
}

.mainlginbtncntnr,
.mainlginbtncntnr2,
.mainlginbtncntnr3 {
  background-color: #178ad6;
  font-family: geist;
  color: white;
  color: black;
  padding: 6px 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  border-radius: 7px;
  font-weight: 450;
  cursor: pointer;
  filter: brightness(1.2);
  transition: all .1s ease;
}

.mainlginbtncntnr3 {
  background-color: #409b43;
  color: white;
  padding: 4px 12px;
  font-size: 12px;
  border-radius: 50px;
  margin-right: 7px;
}

.mainlginbtncntnr2 {
  background-color: #4b4b4b;
  color: white;
  font-weight: 400;
}

.mainlginbtncntnr:hover {
  filter: brightness(1.3);
}

.mainlginbtncntnr2 svg {
  height: 18px;
  width: 18px;
}

.particleContainer {
  width: 2px;
  height: 2px;
  background-color: red;
}

.container {
  margin-top: 70px;
  /* min-height: calc(100vh - 70px); */
  width: 100%;
  display: flex;
  font-family: geist;
  align-items: center;
  flex-direction: column;
  /* background-repeat: no-repeat;
  background-image: url(/assets/bgcntntttnr.png); */
}

.innrmncntnttn1r {
  width: 100%;
  display: flex;
  justify-content: center;
}

.innrmncntnttnr {
  width: 90%;
  font-family: geist;
  max-width: 1300px;
  height: 250px;
  margin-top: 60px;
}

.cntntntmnctnr {
  height: fit-content;
  padding: 5px;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: 10px;
}

@media (max-width: 1480px) {
  .cntntntmnctnr {
    grid-template-columns: repeat(8, 1fr);
  }

  .cntntntmnctnr>div:nth-child(n+9) {
    display: none;
  }
}

@media (max-width: 1266px) {
  .cntntntmnctnr {
    grid-template-columns: repeat(7, 1fr);
  }

  .cntntntmnctnr>div:nth-child(n+8) {
    display: none;
  }
}

@media (max-width: 1100px) {
  .cntntntmnctnr {
    grid-template-columns: repeat(6, 1fr);
  }

  .cntntntmnctnr>div:nth-child(n+7) {
    display: none;
  }
}

@media (max-width: 940px) {
  .cntntntmnctnr {
    grid-template-columns: repeat(5, 1fr);
  }

  .cntntntmnctnr>div:nth-child(n+6) {
    display: none;
  }
}


.containerfruseravtrm {
  background-color: rgb(26, 26, 26);
  padding: 10px;
  border-radius: 7px;
  width: fit-content;
  aspect-ratio: 1/1;
  height: 130px;
  display: flex;
  border: 1px solid #178ad670;
  flex-direction: column;
  align-items: center;
  width: auto;
}

.usernamtshwmn {
  font-size: 15px;
  font-weight: 550;
}

.userimagetshwontp {
  flex: 1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(/assets/sad.png);
  width: 80%;
  margin: 5px;
}

.sldesfrshwcsmn {
  /* background-color: red; */
  width: 100%;
  height: 100vh;
  max-height: 640px;
  display: flex;
  overflow: hidden;
}

.topslideshowmn {
  width: 100vw;
  min-width: 100vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  overflow: hidden;
}

.imagemnccntnttnrm {
  position: relative;
  z-index: 1;
  mask-image: linear-gradient(to right, transparent, black 30%, black 70%, transparent);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 80px;
  background-image: url(/assets/121.webp);
  height: 100%;
  width: auto;
  aspect-ratio: 16/9;
}


.cntnttnrmnfrsflx {
  left: 0px;
  height: 640px;
  width: calc(45% - 80px);
  margin-left: 60px;
  position: absolute;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.topmandsfininfo {
  width: 100%;
  height: 120px;
  background-image: url(/assets/preview.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.smlinfosad {
  font-weight: 650;
  font-size: 20px;
}

.infobtnmn {
  padding: 12px 22px;
  margin-top: 15px;
  background-color: #2093e0;
  border-radius: 7px;
  font-weight: 700;
  font-size: 20px;
  cursor: pointer;
  color: black;
  transition: all .1s ease;
}

.infobtnmn:hover {
  box-shadow: 0px 0px 0px 3px #fff;
}

@media (max-width: 1600px) {
  .imagemnccntnttnrm {
    margin-right: 20px;
  }
}

@media (max-width: 1480px) {
  .imagemnccntnttnrm {
    margin-right: -80px;
  }
}

@media (max-width: 1350px) {
  .imagemnccntnttnrm {
    margin-right: -150px;
  }
}


@media (max-width: 1280px) {
  .imagemnccntnttnrm {
    margin-right: -210px;
  }
}




@media (max-width: 1080px) {
  .topslideshowmn {
    justify-content: center;
    align-items: flex-start;
  }

  .imagemnccntnttnrm {
    width: 100%;
    height: 60%;
    margin: 0px;
    margin-top: 40px;
    flex-direction: column;
    justify-content: flex-end;
    mask-image: linear-gradient(to bottom, transparent, black 30%, black 70%, transparent);

  }

  .cntnttnrmnfrsflx {
    width: 100%;
    margin-left: 0px;
    height: 100%;
    left: 0px;
    justify-content: flex-end;
    padding-bottom: 40px;
  }


  .topmandsfininfo {
    width: 80%;
  }
}

.hdngmnttlfrshwcsmn {
  font-weight: 650;
  font-size: 32px;
  display: flex;
  /* align-items: center; */
}

.stylecntnttnrmskew {
  flex: 1;
  max-width: 4px;
  margin-right: 10px;
  background-color: #178ad6;
}

.btmbrshrmnsldshw {
  width: 100vw;
  height: 40px;
  position: absolute;
  background-color: red;
  margin-top: 580px;
  z-index: 1;
  display: none;
}

.lftsdmnflschrm,
.rgtsdmnflschrm {
  width: 80px;
  height: 640px;
  position: absolute;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.rgtsdmnflschrm {
  right: 0px;
  justify-content: flex-start;
}

.lftmnsvgcntnttnr {
  background-color: rgba(59, 59, 59, 0.466);
  padding: 13px 10px;
  border-radius: 7px;
  display: flex;
  align-items: center;
  backdrop-filter: blur(13px);
  transition: all .1s ease;
  cursor: pointer;
}

.rgtmnsvgcntnttnr {
  background-color: rgba(59, 59, 59, 0.466);
  padding: 13px 10px;
  border-radius: 7px;
  display: flex;
  align-items: center;
  backdrop-filter: blur(13px);
  transition: all .1s ease;
  cursor: pointer;
}

.infobtnmn:hover,
.lftmnsvgcntnttnr:hover,
.rgtmnsvgcntnttnr:hover {
  box-shadow: 0px 0px 0px 3px #fff;
}

.signinwithmcaccmnifn {
  background-color: #0f0f0f9f;
  width: 100%;
  height: 100dvh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  backdrop-filter: blur(7px);
  display: none;
  opacity: 0;
  transition: all .1s ease;
  align-items: center;
  justify-content: center;
}

.mainsgnincntnttnr {
  background-color: #0f0f0f;
  padding: 20px;
  font-family: geist;
  border-radius: 14px;
  width: 95%;
  max-width: 400px;
  display: flex;
  opacity: 0;
  scale: 0.8;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.mntpscggntnt {
  background-color: #202020;
  padding: 5px;
  height: 38px;
  width: 38px;
  border-radius: 50%;
}

.cntntnrmnttl {
  font-weight: 650;
  font-size: 22px;
}

.mininputverfkey {
  background-color: #14141479;
  width: 90%;
  height: 40px;
  border-radius: 7px;
  border: 1px solid #24292E;
  outline: none;
  font-family: geist, arial, bold;
  font-size: 16px;
  padding: 10px;
  transition: all .1s ease;
}

.mininputverfkey:hover {
  border: 1px solid #3d4650;
}

.mininputverfkey:focus {
  box-shadow: 0 0 0 2px #178ad6;
}

.contnumnbtn {
  background-color: #178ad6;
  width: 90%;
  padding: 10px 0px;
  border-radius: 7px;
  cursor: not-allowed;
  transition: all .1s ease;
  display: flex;
  justify-content: center;
  filter: brightness(0.6);
}

.tocfrusraccsgnin {
  font-size: 12px;
  color: #a1a1a1;
}

.useravtrmnshwrcntntntr {
  height: 40px;
  width: auto;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: #202020;
  transition: all .1s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.useravtrmnshwrcntntntr323::before {
  content: attr(data-cart-count);
  ;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #0f0f0f;
  position: absolute;
  transform: translate(50%, 50%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: geist;
  font-size: 14px;
}

.useravtrmnshwrcntntntr323 svg {
  height: 26px;
  width: 26px;
}


.useravtrmnshwrcntntntr323 {
  height: 40px;
  border-radius: 50%;
  width: auto;
  cursor: pointer;
  aspect-ratio: 1/1;
  transition: all .1s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.useravtrmnshwrcntntntr323:hover {
  background-color: #178ad6;
}

.mainimgfrmcplrhd {
  width: 60%;
  height: 60%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 3px;
}

.useravtrmnshwrcntntntr:hover {
  background-color: #178ad6;
}

.otrmncnttntnr {
  position: absolute;
  top: 65px;
  width: 200px;
  display: none;
}

.avtrfrmnusrpfpoptns {
  width: 100%;
  backdrop-filter: blur(40px);
  background-color: #0f0f0f8c;
  height: fit-content;
  padding: 5px;
  border-radius: 15px;
  font-family: geist;
  border: 1px solid #4e4e4e;
  transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
  opacity: 0;
  scale: 0.8;
}


.optnlngg {
  width: 100%;
  display: flex;
  cursor: pointer;
  align-items: center;
  height: 35px;
  border-bottom: 1px solid #4e4e4e;
  padding: 0px 5px;
  margin-bottom: 5px;
  font-size: 15px;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  flex-shrink: 0;
  transition: all .1s ease;
  cursor: pointer;
}

.optnlngg1 {
  width: 100%;
  display: flex;
  cursor: pointer;
  align-items: center;
  height: 40px;
  padding: 0px 5px;
  border-radius: 10px;
  font-size: 15px;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  flex-shrink: 0;
  transition: all .1s ease;
  cursor: pointer;
}

.optnlngg1:hover {
  backdrop-filter: blur(40px);
  background-color: #36363693;
}

.optnlngg svg {
  color: #178ad6;
  width: 15px;
  height: 15px;
  padding: 1px;
  margin-left: 2px;
  margin-right: 9px;
}

.optnlngg1 svg {
  width: 19px;
  height: 19px;
  margin-left: 2px;
  margin-right: 9px;
}


.mncntntfthero {
  display: flex;
  font-family: geist;
  padding: 30px 0px;
  align-items: center;
  /* max-width: 1400px; */
  margin: 0px 2.5%;
}

.lftsdmncntntntrfrfrth,
.lftsdmncntntntrfrfrth1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  /* padding: 40px 0px; */
}

.servrtnlmlftrlgo {
  background-color: #178ad634;
  color: #178ad6;
  padding: 6px 10px;
  border-radius: 7px;
  font-size: 14px;
  line-height: 1;
}

.ttlfrftrmnsrvrhdng {
  font-weight: 700;
  font-size: 48px;
  display: flex;
  margin-top: 20px;
}

.smallyppfrhdmnsrvrftrs {
  font-size: 15px;
  color: #a1a1a1;
  text-align: center;
  margin-top: 10px;
  max-width: 530px;
}

.cnontainerofrinf {
  background-color: rgb(26, 26, 26);
  padding: 20px;
  margin-bottom: 10px;
  width: 80%;
  max-width: 550px;
  border-radius: 10px;
}

.rgtsdmncntntntrfrfrth,
.rgtsdmncntntntrfrfrth1 {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.tpttlmnfrb {
  display: flex;
  align-items: center;
  font-size: 19px;
  font-weight: 650;
  margin-bottom: 10px;
}

.tpttlmnfrb svg {
  height: 32px;
  width: 32px;
  padding: 5px;
  border-radius: 7px;
  color: #178ad6;
  background-color: #178ad634;
  margin-right: 7px;
}

.cnontainerofrinf:nth-child(1) .tpttlmnfrb svg {
  color: #FFD700;
  background-color: #FFD70034;
}

.cnontainerofrinf:nth-child(2) .tpttlmnfrb svg {
  color: #4CAF50;
  background-color: #4CAF5034;
}

.cnontainerofrinf:nth-child(4) .tpttlmnfrb svg {
  color: #FF5722;
  background-color: #FF572234;
}

.cnontainerofrinf:nth-child(3) .tpttlmnfrb svg {
  color: #00B8D4;
  background-color: #00B8D434;
}

.descfrtpttlmnfrb {
  font-size: 15px;
  color: #cecece;
}

.text-rotate {
  display: flex;
  flex-wrap: wrap;
  white-space: pre-wrap;
  position: relative;
}

.text-rotate-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.text-rotate-word {
  display: inline-flex;
}

.text-rotate-lines {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.text-rotate-element {
  display: inline-block;
}

.text-rotate-space {
  white-space: pre;
}


.tpttlmnfrglarr {
  font-family: geist;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mnglriyatpttk {
  font-weight: 700;
  font-size: 42px;
}

.smyappmngmn {
  color: #a1a1a1;
  margin-top: 10px;
  width: 80%;
  text-align: center;
}

.glrrymnslctrm {
  background-color: rgb(22, 22, 22);
  width: 95%;
  max-width: 600px;
  padding: 2px;
  display: flex;
  justify-content: space-evenly;
  font-size: 15px;
  border-radius: 7px;
  align-items: center;
  gap: 5px;
  margin-top: 30px;
}

.btnmfrglrry {
  width: 34%;
  /* background-color: green; */
  display: flex;
  justify-content: center;
  padding: 5px 0px;
  cursor: pointer;
  border-radius: 7px;
  transition: all .1s ease;
}

.btnmfrglrry:nth-child(1) {
  background-color: #178ad6;
}

.mngleeryfrb,
.mngleeryfrb1,
.mngleeryfrb2 {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 28%);
  gap: 10px;
  margin-top: 20px;
  justify-content: center;
}

.gleerymnimtshw1 {
  background-color: rgb(36, 36, 36);
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-end;
  aspect-ratio: 16/9;
  border-radius: 7px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all .3s ease;
  opacity: 1;
}

.gleerymnimtshw1:hover {
  transform: scale(1.05);
}

.lblfrshwplrnmnm {
  width: 100%;
  background-color: #202020;
  padding: 7px;
  border-bottom-left-radius: 7px;
  width: fit-content;
  font-size: 13px;
  border-top-right-radius: 7px;
}

.rttjnmncntntntr {
  background-color: rgb(27, 27, 27);
  width: 100%;
  margin-top: 80px;
  padding: 60px 30px;
  font-family: geist;
  display: flex;
  justify-content: center;
  align-items: center;
}


.stpsmnone {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  width: 90%;
  max-width: 450px;
}

.stpsmnone:nth-last-child(1) {
  margin-bottom: 0px;
}

.lftsdmnonfrindctr {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  color: #178ad6;
  background-color: #178ad634;
}

.ttlftrtj {
  font-weight: 600;
  font-size: 20px;
}

.descfrttlmnftrtj {
  font-size: 15px;
  margin-top: 5px;
  color: #a1a1a1;
}














/* AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA */

.mainfaqqustmnmncntntntrb {
  width: 100%;
  font-family: geist;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}

.ttlfrfaqmn {
  font-weight: 700;
  font-size: 42px;
  margin-bottom: 40px;
}


.innrfaqcntnttnr {
  background-color: rgb(26, 26, 26);
  border-radius: 14px;
  width: 90%;
  max-width: 800px;
  padding: 20px;
  margin-bottom: 10px;
}

.faqcontainerqust {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.questnmnon {
  font-weight: 600;
  font-size: 20px;
}

.addmnasd {
  color: #178ad6;
  cursor: pointer;
}

.answermncntntntr {
  color: #dbdbdb;
  margin-top: 15px;
  border-top: 1px solid #4e4e4e;
  padding-top: 15px;
  display: none;
  transition: all 0.3s ease-in-out;
}

/* AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA */






.storemncntntntrbg {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: geist;
}

.ctgrymncntntntr {
  width: 90%;
  display: flex;
  /* min-height: 650px; */
  max-width: 1400px;
  margin-bottom: 50px;
}

.lftsfmncnttnttnrfrsh {
  width: 270px;
}

.rgtsfmncnttnttnrfrsh {
  flex: 1;
  margin-left: 30px;
}

.ctgrysmn {
  width: 100%;
  font-size: 26px;
  font-weight: 650;
  padding: 0px 0px 10px 0px;
}

.ctgrymnonttl {
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 35px;
  transition: all .1s ease;
  margin-bottom: 10px;
  color: #a1a1a1;
}

.ctgrymnonttl div {
  display: flex;
  transition: all .1s ease;
  height: 100%;
  align-items: center;
  user-select: none;
  font-size: 18px;
  font-weight: 600;
}

.ctgrymnonttl:hover {
  color: #fff;
}

.ctgrymnonttl div div {
  width: 3px;
  transition: all .1s ease;
  height: 100%;
  margin-right: 7px;
  background-color: #1f1f1f;
}

.ctgrymnonttl:hover div div {
  background-color: #178ad6;
}



.hdngmnttlfrs {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 15px;
  display: flex;
}

.smllhdngmnttlfrs {
  font-size: 17px;
  font-weight: 350;
  color: #e2e2e2;
}

.hdngmnoe {
  font-size: 26px;
  font-weight: 650;
  margin-bottom: 5px;
  margin-top: 35px;
}

.survvlmnctgrytshw {
  padding-left: 20px;
  flex-direction: column;
  margin-top: -10px;
  padding-top: 5px;
  border-left: 3px solid #178ad6;
}

.ctgrymnonttl1 {
  font-size: 16px;
  color: #a1a1a1;
  user-select: none;
  margin-top: 2px;
  cursor: pointer;
}

.ctgrymnonttl1:hover {
  color: #fff;
}

.detailsdescfrttl {
  font-size: 16px;
  color: #a1a1a1;
  margin-top: -5px;
}

.itemsfrshpshwrmn {
  padding: 20px 0px;
  margin-top: 00px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.innrcntnttnrmnshp {
  background-color: rgb(32, 32, 32);
  width: 100%;
  height: auto;
  aspect-ratio: 1/1.1;
  border-radius: 14px;
  max-width: 250px;
  display: flex;
  flex-direction: column;
  transition: all .3s ease;
  justify-content: center;
  padding: 14px 7px 7px 7px;
}

@media (max-width: 1420px) {
  .itemsfrshpshwrmn {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1180px) {
  .itemsfrshpshwrmn {
    grid-template-columns: repeat(2, 1fr);
  }
}

.optmnimgfrcntntntshp {
  /* background-color: red; */
  flex: 1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(/assets/unbansurv.png);
}

.optmttlfrcntntntshp {
  font-size: 20px;
  font-weight: 550;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 7px;
  align-items: center;
}

.optmdscfrcntntntshp1 {
  font-size: 15px;
  color: #fff;
  padding: 10px;
  /* background-color: #535353; */
  text-align: center;
  border-radius: 7px;
  margin-top: 7px;
  cursor: pointer;
  font-weight: 550;
  transition: all .1s ease;
}

.optmdscfrcntntntshp1:hover {
  background-color: #535353;
}

.optmttlfrcntntntshp svg {
  color: #178ad6;
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: all .1s ease;
}

.optmttlfrcntntntshp svg:hover {
  color: #fff;
}

.optmdscfrcntntntshp {
  font-size: 15px;
  color: #000;
  padding: 10px;
  background-color: #178ad6;
  text-align: center;
  border-radius: 7px;
  cursor: pointer;
  font-weight: 550;
  transition: all .1s ease;
}

.optmdscfrcntntntshp:hover {
  filter: brightness(1.2);
}

.errntsprtd {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 40px 20px;
  font-size: 20px;
  font-weight: 550;
  color: #ff5555;
}

.tpmnhdngfrsty {
  margin-top: 60px;
  font-size: 38px;
  font-weight: 550;
}


.btmmncntnttnrfrcrtfri {
  padding: 20px 0px;
  width: 100%;
  margin-top: 50px;
  display: flex;
  max-width: 1200px;
}

.lftsdmnfrcntntitmscrt {
  background-color: green;
  flex: 1;
}

.rgtsdmnfrcntntitmscrt {
  background-color: rgb(27, 27, 27);
  width: 300px;
  padding: 10px;
  margin-left: 20px;
  border-radius: 7px;
}

.tpttlmnrgtsd {
  font-size: 20px;
  font-weight: 550;
  padding-bottom: 7px;
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #4e4e4e;
}

.frttlmnitmscntnttnr {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0px;
}

.ttlmcnttl {
  font-size: 17px;
  font-weight: 550;
}

.ttlmcntttl {
  font-size: 15px;
  color: #a1a1a1;
}

.ttlmcntttlprc {
  font-size: 16px;
}

.btmncntnttnrlunch {
  width: 100%;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}

.cnttnttnromn {
  height: 140px;
  border-radius: 14px;
  width: auto;
  aspect-ratio: 1/1;
  background-color: #178ad6;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.cnttnttnromnn {
  font-size: 68px;
  font-weight: 700;

}

.cnttnttnromns {
  font-size: 20px;
  font-weight: 500;
}

.bgrererns {
  width: 100%;
  padding: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: geist;
  background-color: #161616;
}




.blob1 {
  width: 40.5vw;
  height: 43.5vh;
  border-radius: 18px;
  background: radial-gradient(62.61% 62.61% at 95.23% 6.02%, #160E71 0%, rgba(19, 13, 92, 0.26) 54.71%, rgba(90, 35, 248, 0) 100%), linear-gradient(72.48deg, #EF516D 2.61%, rgba(106, 103, 227, 0) 56.18%), radial-gradient(45.23% 45.23% at 35.11% -11.02%, #7936AE 0%, rgba(121, 54, 174, 0) 100%), radial-gradient(94.51% 124.88% at 94.32% 94.43%, rgba(65, 244, 255, 0.78) 0%, rgba(131, 218, 255, 0.6552) 32.29%, rgba(99, 175, 240, 0.3978) 64.06%, rgba(43, 90, 211, 0) 100%), linear-gradient(313.04deg, #341D65 0.93%, #604AEA 125.68%);
  background-blend-mode: normal, normal, normal, normal, normal, normal;
  filter: blur(150px);
  animation: mainanim 2s infinite;
  transition: all .1s ease;
}

@keyframes mainanim {
  0% {
    transform: rotate(0deg) scale(1);
  }

  50% {
    transform: rotate(180deg) scale(1.1);
  }

  100% {
    transform: rotate(360deg) scale(1);
  }
}

.storelaunchmn {
  width: 100%;
  padding: 60px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
}

.eslcunchtm {
  position: absolute;
}

@media screen and (max-width: 1080px) {
  .mncntntfthero {
    flex-direction: column;
  }

  .rgtsdmncntntntrfrfrth,
  .lftsdmncntntntrfrfrth {
    width: 100%;
  }

  .rgtsdmncntntntrfrfrth {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    padding: 0px 20px;
  }

  .cnontainerofrinf {
    width: 100%;
    max-width: none;
  }

  .mngleeryfrb,
  .mngleeryfrb1,
  .mngleeryfrb2 {
    grid-template-columns: repeat(2, 42%);
  }

  


}

@media screen and (max-width: 1024px) {


  .midfootercmprtmnt {
    justify-content: space-between;
  }

  .cntnrfrmdbyflb {
    margin-right: 0%;
    padding: 30px 10px;
  }

  .cntnrfrmdbyflbmb {
    display: none;
  }

  .rttjnmncntntntr {
    flex-direction: column;
    padding: 40px 5%;
  }

  .ttlfrftrmnsrvrhdng {
    font-size: 42px;
  }

  .lftsdmncntntntrfrfrth1 {
    width: 100%;
  }

  .rgtsdmncntntntrfrfrth1 {
    width: 100%;
    margin-top: 40px;
  }


  .stpsmnone {
    width: 100%;
  }

  .lftsdmnonfrindctr {
    width: auto;
    height: 35px;
    aspect-ratio: 1/1;
  }
}

@media screen and (max-width: 768px) {

  .topfootercmprtmnt {
    height: 100px;
  }

  .midfootercmprtmnt {
    flex-direction: column;
    transition: all .3s ease;
  }

  .cntnrfrmdbyflb {
    display: none;
  }

  .outrcntnrfrmdbyflbmb {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    user-select: none;
    cursor: pointer;
    transition: all .3s ease;
    border-bottom: 1px solid #494949;
  }

  .cntnrfrmdbyflbmb {
    display: flex;
    font-size: 1.25rem;
    font-weight: 650;
    width: 100%;
    padding: 15px 0px;
    align-items: center;
  }

  .chevfrftrmnmbl {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0px 10px 0px 0px;
  }

  .cntnrttlfrscrptsmn {
    font-size: 16px;
  }

  .chevfrftrmnmbl svg {
    width: 18px;
    height: 18px;
    color: #cccccc;
  }

  .optnmncntnrfrmenyyftrm {
    height: fit-content;
    flex-direction: column;
    display: none;
    transition: all .3s ease;
  }

  .optnmncntnrfrmenyyftrm div {
    color: #cccccc;
    width: 100%;
    padding: 5px 10px;
    transition: all .3s ease;
  }

  .maontoccoprfooter {
    width: 100%;
    margin-right: 0px;
    padding: 30px 0px;
    font-size: 11px;
  }

  .btmfootercmprtmnt {
    border-top: none;
    align-items: center;
    flex-direction: column;
    height: fit-content;
    padding: 0px 0px 30px 0px;
  }

  .clckablftrm {
    color: #cccccc;
    width: 100%;
    padding: 5px 10px;
    transition: all .3s ease;
  }

  .mnglriyatpttk {
    font-weight: 700;
    font-size: 36px;
  }

  .smyappmngmn {
    margin-top: 7px;
    font-size: 14px;
  }

  .btmncntnttnrlunch {
    display: grid;
    grid-template-columns: repeat(2, 120px);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
  }

  .cnttnttnromn {
    height: auto;
    width: 100%;
  }

  .cnttnttnromnn {
    font-size: 42px;

  }

  .cnttnttnromns {
    font-size: 18px;
  }

  .hdngmnttlfrshwcsmn {
    font-size: 26px;
  }



  .cntntntmnctnr {
    grid-template-columns: repeat(5, 1fr);
    overflow-x: auto;
    justify-content: start;
  }

  .cntntntmnctnr::after {
    content: '';
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), #fff);
    pointer-events: none;
  }

  .cntntntmnctnr>div:nth-child(n+6) {
    display: none;
  }

  .containerfruseravtrm {
    transition: transform 0.3s cubic-bezier(0.25, 0.8, 0.25, 1), opacity 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  }


  .containerfruseravtrm.invisible {
    opacity: 0;
    transform: scale(0.8);
  }

  .containerfruseravtrm.visible {
    opacity: 1;
    transform: scale(1);
  }

  .ttlfrftrmnsrvrhdng {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    font-size: 36px;
  }

  .innrmncntnttnr {
    height: 230px;
  }

  .smallyppfrhdmnsrvrftrs {
    font-size: 14px;
    width: 95%;
  }

  .rgtsdmncntntntrfrfrth {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /* grid-template-rows: repeat(2, 1fr); */
    gap: 10px;
    padding: 0px 20px;
  }

  .glrrymnslctrm {
    font-size: 14px;
  }


  .mngleeryfrb,
  .mngleeryfrb1,
  .mngleeryfrb2 {
    grid-template-columns: repeat(1, 90%);
  }

  .mnsvgcntntcntnr,
  .mnlgonvbrspltr,
  .qucklnkffrnvbr,
  .restofnavbrcntnr {
    display: none;
  }

  .mntpnvbr {
    padding: 0px 10px;
  }

  .mobilnavhambmnu {
    display: flex;
    flex: 1;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
  }

  .mobilnavhambmnu svg {
    height: 28px;
    width: 28px;
    cursor: pointer;
    color: #d3d3d3;
  }

  .cmnscls {
    display: none;
  }

  .flcttrmn1 {
    display: none;
    position: absolute;
    width: 100%;
    height: calc(100vh - 50px);
    background-color: #121218;
    padding: 24px;
    font-family: geist;
    flex-direction: column;
    transition: all .3s ease;
    margin-top: -70px;
    /* z-index: 999; */
    opacity: 0;
    z-index: 21;
  }


  .topmnoptnsfrmnu {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }


  .scrpwrmnshwrfrmenucntnt {
    background-color: #121218;
    width: 100%;
    font-family: geist;
    overflow-y: auto;
    opacity: 0;
    display: none;
    transition: all .3s ease;
    min-height: 100%;
    z-index: 4;
    flex-direction: column;
    padding: 0px 3%;
    position: absolute;
    left: 5vh;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.65, 0, 0.35, 1);
  }


  .menymnlfsdg {
    font-size: 36px;
    font-weight: 750;
    padding-bottom: 10px;
  }


  .optnmnvfrcntr {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
  }

  .mnbtnonfrdcmnttn1 {
    padding: 12px 8px;
    border-radius: 12px;
    line-height: 1;
    transition: all .1s ease;
  }

  .mnbtnonfrdcmnttn1:hover {
    background-color: #161616;
  }


  .topmnoptnsfrmnu1 {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
  }

  .topmnoptnsfrmnu1 svg {
    height: 24px;
    width: 24px;
    rotate: 90deg;
    margin-right: 5px;
  }

  .mnbckbtnfrsftwrs {
    display: flex;
    height: 100%;
    cursor: pointer;
    align-items: center;
  }

  .mnbckbtnfrsftwrs:hover {
    color: #cccccc;
  }

  .mnoptnfrmnshermnu {
    padding: 4px 0px;
    font-size: 36px;
    font-weight: 750;
    width: 100%;
    margin-left: 0;
    margin-top: 0px;
  }

  .alloptnsfrmenufrsmlscrn {
    padding: 20px 0px;
    /* display: flex;
    flex-direction: column; */
    overflow-y: auto;
    width: 100%;
    margin-left: 0;
    height: calc(100% - 103px);
  }

  .mnoptnonfrmenubsc {
    width: 100%;
    padding: 12px 8px;
    display: flex;
    border-radius: 12px;
    transition: all .1s ease;
    cursor: pointer;
  }

  .mnoptnonfrmenubsc:hover {
    background-color: #303030;
  }

  .sftwrmncntnrsvi {
    color: #cccccc;
    flex: 1;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .sftwrmncntnrsvi svg {
    height: 17px;
    width: 17px;
    rotate: -90deg;
  }


  .mnoptnonfrmenubsc svg {
    transition: all .1s ease;
    margin-right: 5px;
    height: 20px;
    width: 20px;
    color: #178ad6;
  }

}



.mnbgcntnttnrfrh {
  margin-top: 100px;
  height: calc(75vh - 70px);
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.mainherocnttntr {
  height: 100%;
  position: relative;
  width: 100%;
  max-width: 1500px;
  font-family: Geist;
  z-index: 8;
  display: flex;
}

.mainherocnttntrmn {
  width: 100%;
  height: 100%;
  max-width: 1500px;
  position: absolute;
  font-family: Geist;
  z-index: 10;
  display: flex;
}

.lftsdmnfrcnttntnrsgrad{
  width: 55%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  padding-left: 10%;
}

.lftsdmnfrcnttntnrs {
  width: 55%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  padding-left: 10%;
  transition: all 0.7s ease;
  transform: translateX(-20vw);
  opacity: 0;
}

.rgtsdmnfrcnttntnrs {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.topttlmn {
  background-image: url(/assets/clansmnbnnr.png);
  height: 70px;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 20px;
  margin-top: -20px;
}

.btmmntgln {
  font-size: 22px;
  font-weight: 550;
}

.smmlmrfdesc {
  color: #ccc;
  margin-top: 10px;
  width: 85%;
}

.btnsfrbtmmndwnlds {
  width: 100%;
  display: flex;
  margin-top: 15px;
}

.downlloadbtnm {
  background-color: #178ad6;
  border-radius: 7px;
  height: 40px;
  padding: 0px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  cursor: pointer;
  transition: all .1s ease;
}

.downlloadbtnm:hover {
  background-color: #178ad6;
  filter: brightness(1.2);
}

.downlloadbtnm:active {
  scale: 0.8;
}

.downlloadbtnm svg {
  height: 20px;
  width: 20px;
  margin-right: 5px;
}


.lgomnfrclmnsmn {
  height: 70%;
  max-height: 350px;
  width: auto;
  aspect-ratio: 1/1;
  /* opacity: 0.2; */
  background-image: url(/assets/favicnnmnfln.png);
  background-size: contain;
  background-repeat: no-repeat;
  transition: all 0.7s ease;
  opacity: 0;
  scale: 0.2;
}


.lgomnfrclmnsmngrad {
  height: 65%;
  margin-left: -50px;
  max-height: 350px;
  width: auto;
  aspect-ratio: 0.8/1;
  background-color: red;
  filter: blur(50px);
  border-radius: 5px 5px 50% 50%;
  background: conic-gradient(from 0deg,
      #fff 0deg 90deg,
      /* top-right */
      #178ad7 90deg 180deg,
      /* bottom-right */
      #fff 180deg 270deg,
      /* bottom-left */
      #178ad6 270deg 360deg
      /* top-left */
    );
  transition: all 2s ease;
  opacity: 0;
}



.topttlmngrad {
  height: 40px;
  width: 230px;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: -20px;
  background-color: #696969;
  filter: blur(50px);
  transition: all 1.5s ease;
  opacity: 0;
}


.chartBoxotr {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.chartBox {
  width: 90%;
  max-width: 1500px;
  font-family: Geist;
}

.recharts-default-tooltip {
  background-color: #101010 !important;
  border: 1px solid #333 !important;
  border-radius: 8px !important;
  color: #fff !important;
  padding: 8px 10px !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.recharts-tooltip-item {
  color: #178ad6 !important;
  font-weight: 500;
}


.tooltipBox {
  background: #1b1b22;
  border: 1px solid #25252c;
  border-radius: 10px;
  padding: 10px 14px;
  color: #fff;
  font-size: 13px;
}

.tooltipDate {
  font-weight: 600;
  margin-bottom: 6px;
  color: #ccc;
}

.hdng {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  margin-bottom: 20px;
  font-weight: 700;
}


.chartGrid {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 90%;
}

.chartBoxindiv {
  width: 20%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: Geist;
}

@media (min-width: 768px) {
  .chartGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}


.chartBoxotr svg {
  overflow: visible !important;
}

.chartGrid svg {
  overflow: visible !important;
}

.chartBoxindiv svg {
  overflow: visible !important;
}




.totalotrcntnttnr{
  width: 100%;
  /* margin-top: 70px; */
  font-family: Geist;
}

.mainhdrhrottl{
  margin-top: 120px;
  font-size: 38px;
  font-weight: 700;
  width: 100%;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}


.dwnldspgcntnttnr{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dwnldspgbrdrcntnttnr{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 1500px;
  gap: 10px;
}

.dwnldspgbrdr{
  background-color: #1b1b22;
  width: 90%;
  border-radius: 14px;
  padding: 15px;
  max-width: 1100px;
  border: 1px solid #333;
}

.dwnldspgbrdrttl{
  font-size: 26px;
  font-weight: 650;
  display: flex;
  align-items: center;
}

.dwnldspgbrdrdesc{
  color: #ccc;
  margin: 5px 0px 5px 0px;
  font-size: 15px;
}

.dwnldspgbrdrbtn{
  width: 100%;
  display: flex;
  margin-top: 20px;
  justify-content: flex-end;
}
.mainbtnfrdwnld{
  background-color: #178ad6;
  transition: all .1s ease;
  padding: 9px 12px;
  border-radius: 7px;
  font-size: 15px;
}
.mainbtnfrdwnld:hover{
  filter: brightness(0.8);
}

.mainbtnfrdwnld:active{
  scale: 0.9;
}

.mncntnttnrfrldbrds{
  width: 100%;
  height: calc(100vh - 70px);
  margin-top: 70px;
  font-family: geist;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.ttlefrmnldrbdrscmngsn h1{
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 20px;
}


.ttlefrmnldrbdrscmngsn p{
  color: #ccc;
}

.mncntnttnrfrldbrds1{
  position: absolute;
  top: 70px;
  width: 100%;
  height: calc(100vh - 70px);
  font-family: geist;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.husbgmncnttntnr{
  width: 40%;
  opacity: 1;
  transition: all 1s ease;
  height: 40%;
  border-radius: 12rem;
  background: radial-gradient(62.61% 62.61% at 95.23% 6.02%, #160E71 0%, rgba(19, 13, 92, 0.26) 54.71%, rgba(90, 35, 248, 0) 100%), linear-gradient(72.48deg, #EF516D 2.61%, rgba(106, 103, 227, 0) 56.18%), radial-gradient(45.23% 45.23% at 35.11% -11.02%, #7936AE 0%, rgba(121, 54, 174, 0) 100%), radial-gradient(94.51% 124.88% at 94.32% 94.43%, rgba(65, 244, 255, 0.78) 0%, rgba(131, 218, 255, 0.6552) 32.29%, rgba(99, 175, 240, 0.3978) 64.06%, rgba(43, 90, 211, 0) 100%), linear-gradient(313.04deg, #341D65 0.93%, #604AEA 125.68%);
  background-blend-mode: normal, normal, normal, normal, normal, normal;
  filter: blur(150px);
  animation: husbgmncnttntnranim 3s infinite;
}

@keyframes husbgmncnttntnranim {
  0% {
    transform: rotate(0deg) scale(1);
  }

  50% {
    transform: rotate(180deg) scale(1.1);
  }

  100% {
    transform: rotate(360deg) scale(1);
  }
}